*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 0.694vw;
}

#active,
.button-menu {
  display: none;
}

.wrapper-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10rem 55.6rem 31.7rem;
  width: 100%;
}

.wrapper-nav {
  grid-column: 1/3;
  width: 100%;
}

.wrapper-menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.wrapper-menu li {
  margin: 3.8rem 5rem 3.8rem 0;
}


.wrapper-menu li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: right;
  color: #1a2236;
}

.wrapper-headline {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.title-headline {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 100%;
  color: #1a2236;
  margin: 19.2rem 9.4rem 0 16rem;
}

.content-headline {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 6rem 9.4rem 0 16rem;
}

.wrapper-button {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  margin: 5.9rem 0 0 16rem;
  background-image: url(/03_Resources/01_Graphics/02_Stock/image_dots.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.button-index {
  background-color: #1a2236;
  border: none;
  width: 25.4rem;
  height: 7rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: #fff;
}

.separation-header-projects {
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(/03_Resources/01_Graphics/02_Stock/image-geometry_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-projects-section {
  display: grid;
  grid-template-columns: 48rem 96rem;
  grid-template-rows: 55.8rem 108.5rem;
  margin-top: 21rem;
}

.title-project-section {
  grid-column: 1;
  grid-row: 1;
  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 100%;
  color: #1a2236;
}

.wrapper-projects {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35rem 46.5rem 27rem;
}

.mockup-project1 {
  position: absolute;
  width: 96rem;
  height: 55.8rem;
  left: 48rem;
  top: 118.7rem;
}

.information-project1 {
  position: absolute;
  width: 96rem;
  height: 35.3rem;
  left: 48rem;
  top: 139.2rem;
  background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
  backdrop-filter: blur(2.4rem);
}

.projectname1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: 80%;
  color: #fff;
  margin: 6rem 17.4rem 0 6rem;
}

.languages-project1 {
  display: flex;
  margin: 3.4rem 0 0 6rem;
  gap: 2rem;
  height: 4rem;
}

.languages-project1 li {
  display: flex;
  background-color: #98dede;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
  line-height: 80%;
  color: #1a2236;
  justify-content: center;
  align-items: center;
}

.wrapper-see-project-btn {
  margin: 6rem 68.8rem 6rem 6rem;
}

.see-project-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: #1a2236;
  border: 0.1rem solid #fff;
  width: 21.2rem;
  height: 5.1rem;
}

.project2-section {
  grid-column: 1;
  grid-row: 1;
}

.project3-section {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.project4-section {
  grid-column: 2 / 3;
  grid-row: 3 / 4
}

.mockup-project5 {
  position: absolute;
  width: 46.5rem;
  height: 27rem;
  left: 97.5rem;
  top: 201.5rem;
}

.information-project5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 46.5rem;
  height: 21.8rem;
  left: 97.5rem;
  top: 179.7rem;
  background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
  backdrop-filter: blur(2.4rem);
}

.name-project5 {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 80%;
  color: #fff;
  white-space: nowrap;
  margin: 3rem 0 0 3rem;
}

.project-languages5 {
  display: flex;
  margin: 2rem 0 0 3rem;
  gap: 1.5rem;
  height: 4rem;
}

.project-languages5 li {
  display: flex;
  background-color: #98dede;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
  line-height: 80%;
  color: #1a2236;
  justify-content: center;
  align-items: center;
}

.project-languages5 .long {
  display: none;
}

.project-languages5 .short {
  display: inline-block;
}

.information-project5 .long {
  display: none;  
}

.information-project5 .short {
  display: inline-block;  
}