*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.wrapper-header {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background-image: url(/03_Resources/01_Graphics/02_Stock/home-nav-wra.svg);
  background-repeat: no-repeat;
}

.wrapper-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(/03_Resources/01_Graphics/02_Stock/image_geometry_menu_1.svg) left top no-repeat, url(/03_Resources/01_Graphics/02_Stock/image_geometry_menu_2.svg) center bottom no-repeat;
  background-color: transparent;
  clip-path: circle(2.5rem at calc(100% - 4.5rem) 4.5rem);
}

#active:checked ~ .wrapper-nav {
  clip-path: circle(75%);
  background-color: white;
}

#active {
  display: none;
}

.button-menu {
  position: fixed;
  right: 3.5rem;
  top: 2.5rem;
  z-index: 2;
  text-align: right;
  line-height: 5rem;
  height: 5rem;
}

.wrapper-menu {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper-menu li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 300%;
  text-align: center;
  color: #000;
}

.wrapper-headline {
  display: flex;
  flex-direction: column;
  margin: 7.3rem 1.6rem 4rem 1.6rem;
}

.title-headline {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.content-headline {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.01em;
}

.wrapper-button {
  display: flex;
  flex-direction: column;
  margin: 0 1.6rem 3.13rem 1.6rem;
}

.button-index {
  background-color: #1a2236;
  border: none;
  height: 5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: #fff;
}

.separation-header-projects {
  background-image: url(/03_Resources/01_Graphics/02_Stock/separation-headline-project.svg);
  width: 100%;
  height: 16rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.title-project-section {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: #1a2236;
  margin: 4rem 12.3rem 3.2rem 1.6rem;
}

.wrapper-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
}

.project1-section {
  grid-row: 1;
  align-self: stretch;
}

.project2-section {
  grid-row: 2;
  align-self: stretch;
}

.project3-section {
  grid-row: 3;
  align-self: stretch;
}

.project4-section {
  grid-row: 4;
  align-self: stretch;
}

.project5-section {
  grid-row: 5;
  align-self: stretch;
}

.project6-section {
  grid-row: 6;
  align-self: stretch;
}

.projects-index {
  display: flex;
  flex-direction: column;
}

.information-project {
  margin-top: -0.1rem;
  background-color: #1a2236;
}

.name-project {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  color: #fff;
  margin: 2rem 3.6rem 0 2rem;
}

.languages-project {
  display: flex;
  margin: 1.6rem 0 0 2rem;
  gap: 1rem;
}

form > ul > li {
  position: relative;
  list-style: none;
  margin-right: 1.6rem;
}

.languages-project li {
  display: flex;
  background-color: #98dede;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.03334rem;
  line-height: 80%;
  color: #1a2236;
  padding: 0.6rem 1rem;
  justify-content: center;
  align-items: center;
}

.wrapper-see-project-btn {
  margin: 2rem 0 2rem 2rem;
}

.see-project-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: #fff;
  border: 0.1rem solid #fff;
  width: 17.8rem;
  height: 4.4rem;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  margin: 5.6rem 1.5rem 5rem 1.5rem;
}

.text-about {
  display: flex;
  flex-direction: column;
}

.title-about {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: #1a2236;
  margin-left: 0.1rem;
}

.description-about {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin: 2rem 0.1rem 0 0.1rem;
}

.wrapper-button-cv {
  margin: 3.2rem 0.1rem 0 0.1rem;
}

.button-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.wrapper-knowledge {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  row-gap: 1.6rem;
  margin-top: 4rem;
}

.wrapper-languages {
  grid-row: 1;
  background-color: #1c528a;
  background-image: url(/03_Resources/01_Graphics/02_Stock/background-icon-languages.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  place-self: center;
}

.wrapper-frameworks {
  grid-row: 2;
  background-color: #e2505c;
  background-image: url(/03_Resources/01_Graphics/02_Stock/backgroun-icon-frameworks.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  place-self: center;
}

.wrapper-skills {
  grid-row: 3;
  background-color: #febf52;
  background-image: url(/03_Resources/01_Graphics/02_Stock/background-icon-skills.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  place-self: center;
}

.wrapper-languages,
.wrapper-frameworks,
.wrapper-skills {
  height: 28.9rem;
  width: 28.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-languages > h4,
.wrapper-frameworks > h4,
.wrapper-skills > h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  text-align: left;
  margin: 5rem 18.4rem 0 5rem;
}

.wrapper-languages > ul,
.wrapper-frameworks > ul,
.wrapper-skills > ul {
  margin: 2.1rem 0 5.3rem 5rem;
}

.wrapper-languages > ul > li,
.wrapper-frameworks > ul > li,
.wrapper-skills > ul > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -0.0525em;
  color: #fff;
}

.wrapper-footer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fa;
  background-image: url(/03_Resources/01_Graphics/02_Stock/home-nav-wra.svg);
  background-repeat: no-repeat;
}

.title-footer {
  margin: 10.6rem 0 0 1.8rem;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: #1a2236;
  text-align: left;
}

.description-footer {
  margin: 2rem 0 0 1.8rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.01em;
  color: #1a2236;
  text-align: left;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  margin: 3.2rem 1.8rem 6.4rem 1.8rem;
}

input {
  background: #fff;
  border: 0.1rem solid #1a2236;
  border-radius: 0.4rem;
  height: 5.2rem;
  width: 100%;
  margin-bottom: 0.8rem;
  padding-left: 1.6rem;
  padding-top: 0.4rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #1a2236;
}

textarea {
  background: #fff;
  border: 0.1rem solid #1a2236;
  border-radius: 0.4rem;
  height: 11.2rem;
  width: 100%;
  margin-bottom: 0.8rem;
  padding-left: 1.6rem;
  padding-top: 0.4rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #1a2236;
}

label {
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.4rem;
  color: #7d7c84;
}

input::placeholder,
.message-label {
  opacity: 0%;
}

.wrapper-social {
  display: flex;
  flex-direction: column;
  background: #1a2236;
  width: 100%;
}

.social-title {
  display: flex;
  margin: 32px 0 30px 16px;
}

.icons-social-media-footer {
  display: flex;
  margin: 0 20px 40px 19px;
  justify-content: space-between;
}

.title-social {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  margin-right: 16px;
}

/* @media all and (min-width: 501px) {
}
@media all and (min-width: 1001px) {

} */
