*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.wrapper-header {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.nav-wrapper {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  padding: 25px;
  background: url("/03_Resources/01_Graphics/02_Stock/home-nav-wra.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.link-hamburger-icon {
  display: flex;
  color: #1a2236;
  text-decoration: none;
  zoom: 1.5;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.name-headline {
  text-align: left;
  font-size: 3.5714rem;
  padding: 4px 16px 0 16px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
}

.content-headline {
  text-align: left;
  padding: 20px 16px 0 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.collaboration-headline {
  display: flex;
  margin: 40px 32px 0 32px;
  height: 50px;
  background: #1a2236;
  justify-content: center;
  align-items: center;
}

.collaboration-headline p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.143rem;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.separation-headline-projects {
  background-image: url("/03_Resources/01_Graphics/02_Stock/separation-headline-project.svg");
  margin-top: 20px;
  max-width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;
}

.wrapper-projects-section {
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.wrapper-projects {
  display: grid;
  grid-template-rows: repeat(6, auto);
}

.title-project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title-project-section h1 {
  text-align: left;
  font-size: 3.5714rem;
  padding: 4px 16px 0 16px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  color: #1a2236;
}

.projects-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px 20px 20px;
  background-color: #1a2236;
}

.projects-index h2 {
  text-align: left;
  font-size: 1.429rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  padding: 20px 16px 0 16px;
  color: #fff;
}

.projects-index ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px 20px 20px;
  list-style: none;
  text-align: left;
}

.list-languages-about > li,
.list-frameworks-about > li,
.list-skills-about > li {
  padding: 0.5rem;
  text-align: left;
  font-size: 1.286rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.projects-index ul li {
  padding: 6px 10px 6px 10px;
  background-color: #98dede;
  font-size: 0.7378rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
  color: #fff;
  color: #1a2236;
}

.projects-index .see-project-btn {
  display: inline-flex;
  flex-direction: row;
  margin: 0 0 0 20px;
  height: 44px;
  width: 178px;
  align-items: center;
  text-align: left;
  outline: 1px solid white;
}

.cv-btn p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.143rem;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.projects-index .see-project-btn a {
  text-decoration: none;
  text-align: left;
  font-size: 1.142rem;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.projects-index .see-project-btn p .arrow-see-project-btn {
  margin-left: 12px;
  zoom: 80%;
}

.projects-index .project-mockup {
  box-sizing: content-box;
  max-width: 100vw;
  margin: -2px -20px 0 -20px;
  height: auto;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.about-text .title-about {
  text-align: left;
  font-size: 3.5714rem;
  padding: 4px 16px 0 16px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  color: #1a2236;
}

.about-text .summary-about {
  text-align: left;
  padding: 20px 16px 0 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.cv-btn {
  display: flex;
  margin: 12px 32px 0 32px;
  height: 50px;
  background: #1a2236;
  justify-content: center;
  align-items: center;
}

.download-btn {
  margin-left: 1.428rem;
}

.wrapper-skills {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 1.1429rem;
  padding: 1rem;
  min-height: 40vh;
}

.languages-about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 20.642rem;
  width: 100%;
  background-color: #1c528a;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-image: url(/03_Resources/01_Graphics/02_Stock/background-icon-languages.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.frameworks-about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 20.642rem;
  width: 100%;
  background-color: #e2505c;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-image: url(/03_Resources/01_Graphics/02_Stock/backgroun-icon-frameworks.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills-about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 20.642rem;
  width: 100%;
  background-color: #febf52;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-image: url(/03_Resources/01_Graphics/02_Stock/background-icon-skills.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.languages-about h2,
.frameworks-about h2,
.skills-about h2 {
  text-align: left;
  font-size: 1.429rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  padding: 20px 16px 0 16px;
}

.wrapper-contact-form {
  display: flex;
  flex-direction: column;
  margin: 50px 0 32px 0;
}

.wrapper-text-contact-form {
  margin: 106px 14px 0 18px;
}

.title-contact-form {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.description-contact-form {
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.wrapper-form-elements {
  margin: 0 14px 64px 18px;
}

.wrapper-form-elements ul {
  list-style: none;
}

.wrapper-form-elements ul li {
  margin-bottom: 8px;
  position: relative;
}

.wrapper-form-elements ul li:last-child {
  margin-bottom: 20px;
}

.form-input {
  background: #fff;
  border: 1px solid #1a2236;
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  width: 100%;
}

.form-label {
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

.form-message-input {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 100%;
  height: 8rem;
}

.form-submut-btn {
  background: #1a2236;
  padding: 15px;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* @media all and (min-width: 501px) {
}
@media all and (min-width: 1001px) {

} */
